
<p id="notice"><%= notice %></p>


<div class="text-center">

  <br>
  <br>

  <!-- <img src="https://www.wellandgood.com/wp-content/uploads/2017/11/Stocksy-Spices-Darren-Muir.jpg" class="web-chef" alt="WebChef"> -->

  <img src="https://s3.amazonaws.com/webchef/uploads/veganeats.jpg" class="web-chef" alt="WebChef">

  <h1>Welcome to VeganEats</h1>

    <h2>
       The online community where we share our favorite vegan recipes with the world.
     </h2>
</div>
<hr>

<br>
<h2 class="text-center">Recipes</h2>
<br>
<br>

<%= link_to 'Add Recipe', new_recipe_path, class: "btn btn-primary btn-block btn-lg" %>

<br>

<div class="row">  <!-- Row Begin -->

  <% @recipes.each do |recipe |%>
  <div class="col-md-4 ">    <!--col-md-4 Begin -->

    <div class="recipe-box"> <!-- Recipe Box Begin -->
      <% if recipe.image? %>
        <%= link_to (image_tag recipe.image.url, class: "recipe-index"), recipe %>
      <% end %>

      <ul>
          <li><%= recipe.title %> </li>
          <!-- <li><%= recipe.description %> </li> -->
          <li>
            <br>
            <%= link_to 'Learn More', recipe,  class: 'btn btn-success btn-default'%>
          </li>
          <br>

      </ul>
    </div>  <!-- Recipe Box End -->

    <br>

  </div>  <!-- col-md-4  End-->
  <% end %>

</div>  <!-- Row End -->

<br>
