<!DOCTYPE html>

<!-- !!!!! ****   When deploying to Heroku  ***** !!!!-->

 <!-- visit app/uploaders/image_uploader.rb and switch out commented lines  -->
 <!-- visit app/config/initialziers/ carrierwave.rb and  uncomment file  -->
<!-- Deploy to Heroku -->
<!-- REVERSE STEPS WHEN IN DEVELOPMENT -->


<html>
  <head>
    <title>Vegan Eats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <%= link_to "VeganEats", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <%= link_to "About", pages_about_path, class:" navbar-brand navbar-nav navbar-right"%>

    </div>
  </nav>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
